<div class="wrapper cf">
  <h1 class="tcu-alignc tcu-below32">Just Another Gallery</h1>
  <div class="tcu-layout-constrain">
    <!-- Start of Gallery -->
    <div class="tcu-gallery-wrapper group unit size1of1 m-size1of1 cf">

      <!-- First Item -->
      <div class="tcu-gallery-item tcu-gallery-painting group unit size1of3 m-size-1of3">

        <div class="tcu-gallery-thumb">

          <img src="http://mkctest.tcu.edu/mayra/gallery-resources/images/d5e16e30-thumb.jpg"
            class="attachment-massive-sm-soft size-massive-sm-soft wp-post-image" alt="" />

          <div class="tcu-gallery-hover">

            <div class="tcu-action-btn">
              <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/d5e16e30-large.jpg"
                class="tcu-popup-link--icon" title="lightbox view: Couple on a boat"> <i
                  class="tcu-icon-magnifier"></i></a>
            </div><!-- end of .tcu-action-btn -->

            <div class="tcu-gallery-description">
              <h4>
                <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/d5e16e30-large.jpg"
                  class="tcu-popup-link" title="lightbox view: Couple on a boat">Couple on a boat</a>
              </h4>
            </div><!-- end of tcu-gallery-description -->

          </div><!-- end of tcu-gallery-hover -->

        </div> <!-- .tcu-gallery-thumb -->

      </div> <!-- .tcu-gallery-item -->

      <!-- Second Item -->
      <div class="tcu-gallery-item tcu-gallery-photographs group unit size1of3 m-size-1of3">

        <div class="tcu-gallery-thumb">

          <img width="350" height="250" src="http://mkctest.tcu.edu/mayra/gallery-resources/images/d7a7d2f6-thumb.jpg"
            class="attachment-massive-sm-soft size-massive-sm-soft wp-post-image" alt="" />

          <div class="tcu-gallery-hover">

            <div class="tcu-action-btn">
              <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/d7a7d2f6-large.jpg"
                class="tcu-popup-link--icon" title="lightbox view: Bike"> <i class="tcu-icon-magnifier"></i></a>
            </div><!-- end of .tcu-action-btn -->

            <div class="tcu-gallery-description">
              <h4>
                <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/d7a7d2f6-large.jpg"
                  class="tcu-popup-link" title="lightbox view: Bike">Bike</a>
              </h4>
            </div><!-- end of tcu-gallery-description -->

          </div><!-- end of tcu-gallery-hover -->

        </div> <!-- .thumb -->

      </div> <!-- .tcu-gallery-item -->

      <!-- Third Item -->
      <div class="tcu-gallery-item tcu-gallery-photographs group unit size1of3 m-size-1of3">

        <div class="tcu-gallery-thumb">

          <img width="350" height="250" src="http://mkctest.tcu.edu/mayra/gallery-resources/images/214b07c6-thumb.jpg"
            class="attachment-massive-sm-soft size-massive-sm-soft wp-post-image" alt="" />

          <div class="tcu-gallery-hover">

            <div class="tcu-action-btn">
              <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/214b07c6-large.jpg"
                class="tcu-popup-link--icon" title="lightbox view: Hot Tea"> <i class="tcu-icon-magnifier"></i></a>
            </div><!-- end of .tcu-action-btn -->

            <div class="tcu-gallery-description">
              <h4>
                <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/214b07c6-large.jpg"
                  class="tcu-popup-link" title="lightbox view: Hot Tea">Hot Tea</a>
              </h4>
            </div><!-- end of tcu-gallery-description -->

          </div><!-- end of tcu-gallery-hover -->

        </div> <!-- .tcu-gallery-thumb -->

      </div> <!-- .tcu-gallery-item -->

      <!-- Fourth Item -->
      <div class="tcu-gallery-item tcu-gallery-graphics group unit size1of3 m-size-1of3">

        <div class="tcu-gallery-thumb">

          <img width="350" height="250" src="http://mkctest.tcu.edu/mayra/gallery-resources/images/1bbbb938-thumb.jpg"
            class="attachment-massive-sm-soft size-massive-sm-soft wp-post-image" alt="" />

          <div class="tcu-gallery-hover">

            <div class="tcu-action-btn">
              <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/1bbbb938-262c-large.jpg"
                class="tcu-popup-link--icon" title="lightbox view: Wonderful Road"> <i
                  class="tcu-icon-magnifier"></i></a>
            </div><!-- end of .tcu-action-btn -->

            <div class="tcu-gallery-description">
              <h4>
                <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/1bbbb938-262c-large.jpg"
                  class="tcu-popup-link" title="lightbox view: Wonderful Road">Wonderful Road</a>
              </h4>
            </div><!-- end of tcu-gallery-description -->

          </div><!-- end of tcu-gallery-hover -->

        </div> <!-- .tcu-gallery-thumb -->

      </div> <!-- .tcu-gallery-item -->

      <!-- Gallery Collection -->
      <div class="tcu-gallery-item tcu-gallery-graphics group unit size1of3 m-size-1of3">
        <div class="tcu-gallery-thumb">

          <div class="tcu-gallery-slider">
            <ul class="slides">
              <li>
                <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/0e363d22-large.jpg"
                  title="Looking out into the mountains">
                  <img src="http://mkctest.tcu.edu/mayra/gallery-resources/images/0e363d22-thumb.jpg" alt="">
                </a>
              </li>
              <li>
                <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/4bed85a8-large.jpg"
                  title="Traveling alone">
                  <img src="http://mkctest.tcu.edu/mayra/gallery-resources/images/4bed85a8-thumb.jpg" alt="">
                </a>
              </li>
              <li>
                <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/58094a2e-large.jpg"
                  title="Beautiful Beach">
                  <img src="http://mkctest.tcu.edu/mayra/gallery-resources/images/58094a2e-thumb.jpg" alt="">
                </a>
              </li>
            </ul>
          </div>


          <div class="tcu-gallery-hover">
            <div class="tcu-action-btn">
              <a href="#" title="Slider Collection"><i class="tcu-icon-collection"></i></a>
            </div>
            <div class="tcu-gallery-description">
              <h4>
                <a href="#" title="Slider Collection">Slider Collection</a>
              </h4>
            </div>
          </div>
        </div> <!-- .tcu-gallery-thumb -->
      </div> <!-- .tcu-gallery-item -->

      <!-- Fifth Item -->
      <div class="tcu-gallery-item tcu-gallery-graphics group unit size1of3 m-size-1of3">

        <div class="tcu-gallery-thumb">

          <img width="350" height="250" src="http://mkctest.tcu.edu/mayra/gallery-resources/images/ff40b593-thumb.jpg"
            class="attachment-massive-sm-soft size-massive-sm-soft wp-post-image" alt="" />

          <div class="tcu-gallery-hover">

            <div class="tcu-action-btn">
              <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/ff40b593-large.jpg"
                class="tcu-popup-link--icon" title="Black and White Photograph"> <i class="tcu-icon-magnifier"></i></a>
            </div><!-- end of .tcu-action-btn -->

            <div class="tcu-gallery-description">
              <h4>
                <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/ff40b593-large.jpg"
                  class="tcu-popup-link" title="Black and White Photograph">Black &amp; White</a>
              </h4>
            </div><!-- end of tcu-gallery-description -->

          </div><!-- end of tcu-gallery-hover -->

        </div> <!-- .tcu-gallery-thumb -->

      </div> <!-- .tcu-gallery-item -->

      <!-- Next Item -->
      <div class="tcu-gallery-item tcu-gallery-photographs group unit size1of3 m-size-1of3">

        <div class="tcu-gallery-thumb">

          <img width="350" height="250" src="http://mkctest.tcu.edu/mayra/gallery-resources/images/b1d4f0e8-thumb.jpeg"
            class="attachment-massive-sm-soft size-massive-sm-soft wp-post-image" alt="" />

          <div class="tcu-gallery-hover">

            <div class="tcu-action-btn">
              <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/b1d4f0e8-large.jpeg"
                class="tcu-popup-link--icon" title="Bike"> <i class="tcu-icon-magnifier"></i></a>
            </div><!-- end of .tcu-action-btn -->

            <div class="tcu-gallery-description">
              <h4>
                <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/b1d4f0e8-large.jpeg"
                  class="tcu-popup-link" title="Bike">Bike</a>
              </h4>
            </div><!-- end of tcu-gallery-description -->

          </div><!-- end of tcu-gallery-hover -->

        </div> <!-- .tcu-gallery-thumb -->

      </div> <!-- .tcu-gallery-item -->

      <!-- Another Item -->
      <div class="tcu-gallery-item tcu-gallery-graphics group unit size1of3 m-size-1of3">

        <div class="tcu-gallery-thumb">

          <img width="350" height="250" src="http://mkctest.tcu.edu/mayra/gallery-resources/images/1286-thumb.jpg"
            class="attachment-massive-sm-soft size-massive-sm-soft wp-post-image" alt="" />

          <div class="tcu-gallery-hover">

            <div class="tcu-action-btn">
              <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/1286-large.jpg"
                class="tcu-popup-link--icon" title="Deep Blue Ocean"> <i class="tcu-icon-magnifier"></i></a>
            </div><!-- end of .tcu-action-btn -->

            <div class="tcu-gallery-description">
              <h4>
                <a href="http://mkctest.tcu.edu/mayra/gallery-resources/images/1286-large.jpg" class="tcu-popup-link"
                  title="Deep Blue Ocean">Blue Ocean</a>
              </h4>
            </div><!-- end of tcu-gallery-description -->

          </div><!-- end of tcu-gallery-hover -->

        </div> <!-- .tcu-gallery-thumb -->

      </div> <!-- .tcu-gallery-item -->

    </div><!-- .gallery wrapper -->

  </div>
</div>
