<div class="background"></div>
<div class="login-box">
  <div class="nav-bar">
    <ul>
      <li><span id="signup" class="auth active">Sign up</span></li>
      <li><span id="login" class="auth">Log in</span></li>
    </ul>
  </div>
  <div class="form-container">
    <div onclick="performAuth()" class="circle">
      <p>send</p>
    </div>
    <input id="username" type="text" placeholder="Username" />
    <input id="password" type="password" placeholder="Password" />
    <div class="viewport">
      <div class="container">
        <div class="slide">
          <input id="confirm-password" type="password" placeholder="Confirm Password" />
        </div>
        <div class="slide">
          <a href="#">Forgot Password</a>
        </div>
      </div>
    </div>
    <button><i class="fa fa-angle-right"></i></button>
  </div>
</div>
