body {
  color: #7c7c7c;
}

.background {
  margin: 0;
  background-color: #9ce7d6;
  height: 100%;
  position: relative;
}
.background:before {
  content: '';
  width: 150%;
  background-color: #d9fbf3;
  height: 100%;
  position: absolute;
  top: -50%;
  left: -50%;
  transform: rotate(-30deg);
}

.login-box {
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 2px 18px 1px rgba(33, 119, 99, 0.4);
  height: 400px;
  width: 350px;
  position: relative;
  margin: auto;
  top: 70px;
  box-sizing: border-box;
  padding: 70px 60px;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.nav-bar ul li {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: inline-block;
  width: 49%;
  font-size: 16px;
}
.nav-bar ul li span {
  cursor: pointer;
}
.nav-bar ul li span.active {
  color: #78e2ca;
  padding: 5px 0;
  border-bottom: 2px solid #78e2ca;
}
.nav-bar ul li:nth-child(2) {
  text-align: right;
}

.form-container {
  margin-top: 40px;
}
.form-container input[type='text'],
.form-container input[type='password'] {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 27px;
  font-size: 14px;
  padding: 12px 20px;
  box-sizing: border-box;
  width: 110%;
  margin-left: -5%;
  margin-bottom: 18px;
  transition: 0.3s;
}
.form-container input[type='text']:focus,
.form-container input[type='password']:focus {
  border: 1px solid #78e2ca;
  outline: 0;
  color: #8bead4;
}

input[type='password'] {
  font: small-caption;
  font-size: 32px;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  border: 1px solid #78e2ca;
  color: #78e2ca;
  font-size: 24px;
  text-align: center;
  box-sizing: border-box;
  padding-left: 10px;
  float: right;
  right: -10px;
  position: relative;
  transition: 0.1s;
}
button:hover {
  border: 3px solid #78e2ca;
}
button:active,
button:focus {
  outline: 0;
}

.circle {
  cursor: pointer;
  width: 55px;
  height: 55px;
  background-color: #78e2ca;
  position: absolute;
  top: 310px;
  right: 50px;
  z-index: 99;
  transition: transform 1.5s;
  transition-timing-function: ease-in;
  border-radius: 500px;
  opacity: 1;
}
.circle > p {
  margin-left: 10px;
  margin-top: 15px;
}
.circle.grow {
  /* transform: scale(200); */
  opacity: 1;
}

.viewport {
  width: 110%;
  margin-left: -5%;
  overflow: hidden;
}
.viewport .container {
  width: 200%;
  position: relative;
  transition: 0.3s;
  left: 0;
}
.viewport .container.change {
  transform: translateX(-50%);
}
.viewport .container.change input {
  opacity: 0;
}
.viewport .container .slide {
  width: 50%;
  float: left;
}
.viewport .container .slide input {
  margin-left: -15px;
  width: 105%;
}
.viewport .container .slide a {
  margin-top: 12px;
  color: #78e2ca;
  text-decoration: none;
  margin-left: 15px;
}
.viewport input,
.viewport a {
  float: left;
}
